<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.language || "TDD" %></title>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">TDD</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/language/java">Java</a></li>
              <li><a href="/language/node">Node</a></li>
              <li><a href="/language/ruby">Ruby</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>

